<html>
<head>
  <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Intelligent Career Guidance System</title>

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600" rel="stylesheet">
		

  <link href="{{ url_for('static', filename='chart.css') }}" rel="stylesheet" media="all">
  
  <link href="{{ url_for('static', filename='css1/bootstrap.min.css') }}" rel="stylesheet" media="all">
  
  <link href="{{ url_for('static', filename='css1/font-awesome.min.css') }}" rel="stylesheet" media="all">
  
  <link href="{{ url_for('static', filename='css1/s.css') }}" rel="stylesheet" media="all">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400' rel='stylesheet' type='text/css'>
</head>

<body>
		<!-- Hero-area -->
		<div class="hero-area section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url(./img/bgc2.jpg); " ></div>
			<!-- /Backgound Image -->

			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center">

						<h1 class="white-text">Software Tester</h1>
					</div>
				</div>
			</div>

		</div>
		<!-- /Hero-area -->

		<!-- Blog -->
		<div id="blog" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<!-- main blog -->
					<div id="main" class="col-md-9">

						<!-- blog post -->
						<div class="blog-post" style= "text-align:justify; ">
                        <h2>Job Description</h2>
                            <!-- row -->
                            <div class="row">

							<p style="font-size:16px;" >Software Testers are responsible for the quality of software development and deployment. They are involved in performing automated and manual tests to ensure the software created by developers is fit for purpose. Some of the duties include analysis of software, and systems, mitigate risk and prevent software issues.</p>

							<p style="font-size:16px;">A software tester is responsible for designing test scenarios for software usability, running these tests, and preparing reports on the effectiveness and defects to the production team. A software tester is also known as a software test engineer or a quality assurance (QA) tester.</p>
                            
                            </div>
                            <!-- /row -->

                            <!-- row -->
                            <div class="row">
							<h2>Skills required</h2>
							<p style="font-size:16px;">To be successful as a software tester, one should have a working knowledge of software and test design, the capability to run through tests, and the ability to analyze the results. Ultimately, the software tester should be result-driven, have good communication skills, and up-to-date knowledge of software programming and software test design.</p>
							
							<ol style="font-size:16px;">
                                <li><b>1. </b>Up-to-date knowledge of software test design and testing methodologies.</li>
                                <li><b>2. </b>Working knowledge of test techniques and compatibility with various software programs.</li>
                                <li><b>3. </b>Working knowledge of programming.</li>
                                <li><b>4. </b>Excellent communication and critical thinking skills.</li>
                                <li><b>5. </b>Good organizational skills and detail-oriented mindset.</li>
                                <li><b>6. </b>A passion for working with technology.</li>
                            </ol>
                            </div>
                            <!-- /row -->

                            <!-- row -->
                            <div class="row">
							<h2>Educational Requirements</h2>
							<p style="font-size:16px;">Academic background of a software tester should be in Computer Science. A BTech/ B.E., MCA, BCA, BSc- Computers, will land a job quickly.If person does not hold any of these degrees, then they must complete a software testing certification like ISTQB and CSTE which help you learn Software Development/ Test Life Cycle and other testing methodologies.</p>
                            </div>
                            <!-- /row -->

                            <!-- row -->
                            <div class="row">
							<h2>Duties and Responsibilities</h2>
							
							<ol style="font-size:16px;">
                            <li><b>1. </b>Reviewing software requirements and preparing test scenarios.</li>
                                <li><b>2. </b>Executing tests on software usability.</li>
                                <li><b>3. </b>Analyzing test results on database impacts, errors or bugs, and usability.</li>
                                <li><b>4. </b>Preparing reports on all aspects related to the software testing carried out and reporting to the design team.</li>
                                <li><b>5. </b>Interacting with clients to understand product requirements.</li>
                                <li><b>6. </b>Participating in design reviews and providing input on requirements, product design, and potential problems.</li>
                                <li><b>7. </b>Execute all levels of testing (System, Integration, and Regression).</li>
                                <li><b>8. </b>Provide timely solutions.</li>
                            </ol>
                            </div>
                            <!-- /row -->

                            <!-- row -->
                            <div class="row">
							<h2>Salary</h2>
							<p style="font-size:16px;">Compensation of a software tester varies from company to company. Average Software testing career package in India is Rs 247,315 - Rs 449,111.</p>
                            </div>
                            <!-- /row -->

                            <!-- row -->
                            <div class="row">
							<h2>Companies offering Software Tester role</h2>
    
							<ol style="font-size:16px;">
                                <li><b>1. LTI - Larsen & Toubro Infotech </b> </li>
                                <li><b>2. Wipro </b></li>
                                <li><b>3. Spiceworks</b></li>
                                <li><b>4. Tata Consultancy Services</b></li>
                                <li><b>5. Intel Technology India Pvt Ltd </b></li>
                                <li><b>6. AT & T communications Services India</b></li>
                            </ol>
                            </div>
                            <!-- /row -->
                    


						</div>
						<!-- /blog post -->

					</div>
					<!-- /main blog -->

				</div>
				<!-- row -->

			</div>
			<!-- container -->

		</div>
		<!-- /Blog -->


		<footer id="footer" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<!-- footer logo -->
					<div class="col-md-6">
						<div class="footer-logo">
							<a class="logo" style="font-size: 30px;" href="main.php">Career.ly</a>
						</div>
					</div>
					<!-- footer logo -->


				</div>
				<!-- /row -->

				<!-- row -->
				<div id="bottom-footer" class="row">

					<!-- social -->
					<div class="col-md-4 col-md-push-8">
						
					</div>
					<!-- /social -->

					<!-- copyright -->
					<div class="col-md-8 col-md-pull-4">
						<div class="footer-copyright">
							<span>&copy; Copyright 2021. All Rights Reserved. </span>
						</div>
					</div>
					<!-- /copyright -->
					</div>
				<!-- row -->

			</div>
			<!-- /container -->

		</footer>
		<!-- /Footer -->

</body>
</html>
<!--

           
      #print(jobs_dict[predictions[0]])
      job = {}
      #job[0] = jobs_dict[predictions[0]]
      index = 1
     #

-->





